
body{
  background:#5C005C;
  font-family: 'Stardos Stencil', cursive;
}

#machine{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #5C005C;
  color: #FFF9C0;
  width: 300px;
  height: auto;
  margin: auto;
  border-radius: 10px;
}

#time-control-wraper{
  display: flex;
  justify-content: center;
  align-items: center;
}

h1{
  margin-bottom: 0px
}

.label{
  font-size: 16px;
  margin:0px;
}

.time-control{
  display:flex;
  justify-content: center;
  align-items: center;
  margin: 8px;
  flex-direction: column;
}

.time-control-button-wrapper{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

button{
  border:none;
  background-color: #5C005C;
  margin: 5px;
  color: #FFF9C0;
}

button:focus{
  outline:0;
}

button:hover{
 color: #F9EB66;
}

p{
  margin: 0px;
  text-align: center;
}

#timer-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 3px solid #330033;
  border-radius: 5px;
  padding: 20px 40px 20px 40px;
}

#timer-label {
  margin: 0px 0px 5px 0px;
  text-align: center;
}

#time-left {
  font-size: 48px;
}

footer{
  text-align:center;
  font-size: 8px;
  color: #726B2F;
}

.alert-color-lighter{
  color: #FF5F5C;
  transition: all 1s ease-in;
}

.alert-color-darker{
  color: #A32724;
  transition: all 1s ease-in;
}