body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.legend-text{
    font-size: 9px;
}

#title{
    font-size: 30px;
}

#tooltip{
    border-radius: 5px;
    background-color:#FEF7E8;
    padding: 5px;
}