/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 26, 2018, 10:41:27 PM
    Author     : Neo
*/
#main{
    background-color: #F2F2F3;
    margin: 0px;
}

header{
    margin:0px;
    background: #4C4C4C;
    display:flex;
    min-height: 100vh;
}

#title{
    text-align: center;
    font-family: Trebuchet MS;
    font-size: 10vh;

}

#title-citation{
    font-family: Blackadder ITC;
    font-size: 5vh;
}

#heading-wrapper{
    color: white;
    flex:1;
    align-self: center;
    text-align: center;
}

#image{
    
    width: 18vh;
    max-width: 100%;
    height: auto;
    display: block;
    align-self: center;
    padding-top: 1em;
    margin:3vh;
}
#img-div{
    display:flex;
    flex-direction: column;
    border: #DEEFF7 solid;
    border-width: 1px;
    float:left;
    margin-right: 20vh;
    margin-bottom: 0px;
    background: white;
    align-self: center;
    
}

#img-caption{
    align-self: center;
    width: 12vh;
    text-align: center;
    color: #110A04;
    font-size: 2vh;
    margin:3vh;
}

#tribute-info{

    display: flex;
    flex-direction: column;
}

.article-section{
    min-height: 100vh;
    display: flex;
    margin: 0px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#odd{
    background: #4C4C4C;
    color: white;
}

p{
    margin-right: 5em;
    margin-left: 5em;
    text-align: justify;
    font-size: 3vh;
}

h2{
    font-family: Trebuchet MS;
    font-size: 5vh;
}

h3{
    font-family: Trebuchet MS;
    font-size: 4vh;
}

footer{
   margin-top:3em;
   font-style: italic;
   text-align: center;
}




